<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>搜索结果</title>
</head>
<body>
    {% if query %}
        <h3>搜索结果如下：</h3>
        {% for result in page.object_list %}
            <header class="entry-header">
                        <h1 class="entry-title">
                            <a href="{% url 'blogapp:detail' result.object.id %}">{{result.object.title}}</a>
                        </h1>
                        <div class="entry-meta">
                            <span class="post-category"><a href="#">{{result.object.category.name}}</a></span>
                            <span class="post-date"><a href="#"><time class="entry-date"
                                                                      datetime="2012-11-09T23:15:57+00:00">{{result.object.create_time|date:"Y-m-d H:i:s"}}</time></a></span>
                            <span class="post-author"><a href="#">{{result.object.author}}</a></span>
                            <span class="comments-link"><a href="#">{{result.object.comment_set.all}} 评论</a></span>
                            <span class="views-count"><a href="#">{{result.object.views}} 阅读</a></span>
                        </div>
                    </header>
                    <div class="entry-content clearfix">
                        <p>{{a.body|safe|truncatechars_html:20}}</p>
                        <div class="read-more cl-effect-14">
                            <a href="{% url 'blogapp:detail' result.object.id %}" class="more-link">继续阅读 <span class="meta-nav">→</span></a>
                        </div>
                    </div>
        {% empty %}
            <p>啥也没找到</p>
        {% endfor %}
    {% endif %}
</body>
</html>