<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改书籍</title>
</head>
<body>
    <div class="title">
        <form action="#" method="post">
             <p>书籍名字：<input type="text" name="title"  value="{{book.title}}" ></p><br>
             <p>出版时间：<input type="date" name="pub_date" value="{{book.pub_date}}"></p><br>
             <p>出售价格：<input type="number" max="9999.0" min="0.0" step="0.5" name="price" value="{{price}}"></p><br>
             <p><input type="submit" value="提交"></p>
        </form>
    </div>
</body>
</html>