<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <div class="title">
        <h1><a href="{% url 'booktest:index' %}">书籍英雄</a>||<a href="{% url 'polls:polls' %}">投票</a></h1>
        <div>
            <div class="img">
                <img src="/static/img/公众号.jpg">
            </div>
            <h2>下列将显示所有书籍</h2>

            <ul >
                {% for book in books %}
<!--                <li><a href="/detail/{{book.id}}">{{book.id}} &#45;&#45; {{book.title}} &#45;&#45; {{book.price}} &#45;&#45; {{book.pub_date}}</a></li>-->
                <li><a href="{% url 'booktest:detail' book.id %}">{{book.id}} -- {{book.title}} -- {{book.price}} -- {{book.pub_date}}</a>
                    <a href="{% url 'booktest:editbook' book.id %}"><button>修改</button></a>
                    <a href="{% url 'booktest:deletebook' book.id %}"><button>删除</button></a>
                </li>
                {% endfor %}
            </ul>


        </div>
        <div>
            <a href="{% url 'booktest:addbook' %}"><button>添加书籍</button></a>
        </div>
    </div>

</body>
</html>